<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">
    <app-toolbar (sidenavToggle)="sidenav.toggle()"></app-toolbar>
    <main fxFlex flex="1 1 auto">
      <mat-tab-group headerPosition="below" dynamicHeight mat-stretch-tabs >
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>home</mat-icon>
            <div style="margin: 0 0 0 10px">Home</div>
          </ng-template>
          <app-home></app-home>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>public</mat-icon>
            <div style="margin: 0 0 0 10px">Internet</div>
          </ng-template>
          <app-internet></app-internet>
        </mat-tab>
      </mat-tab-group>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
